/* dark.css: light-on-dark */
/* a handy tool: https://mdigi.tools/lighten-color/ */
:root {
  /* --color: rgb(250, 250, 250);
     --background-color: rgb(5, 5, 5); */
  --color: #eff2ef; /* // #efeee3; // #e7e5d5; // #dfddc7; // #B0A974; */
  --background-color: #0a0b09; /* // #050605; // #32382E; */

  --sql-yellow: #B0A974;
  --sql-green: #829179;

  --cta-btn-on: #B0A974;
  --cta-txt-on: var(--background-color);
  --cta-btn-off: #32382E;
  --cta-txt-off: var(--color);
}
