/* light.css: dark-on-light */
:root {
  /* --color: rgb(5, 5, 5);
     --background-color: rgb(250, 250, 250); */

  --background-color: #eff2ef; // #f1f1eb; // #efeee3; // #e7e5d5; // #dfddc7; // #B0A974;
  --color: #0a0b09; // #050605; // #32382E;
}
