  <header>
    <h1 id="home" class="logo"><a href="/">end<span class="letter-box">a</span><span class="letter-box">t</span><span class="letter-box">a</span>b<span class="letter-box">a</span><span class="letter-box">s</span></a></h1>
    <nav>
      <a href="#" tabindex="0">☰</a>
      <ul>
        <li tabindex="1"><a href="demo.html" target="_blank">
          <img src="resources/images/terminal-fill.svg" width="30" height="30" title="Live Demo" />
          <span class="menu-text">Live Demo</span>
        </a></li>
        <li tabindex="2"><a href="https://docs.endatabas.com" target="_blank">
          <img src="resources/images/book-icon-yellow.svg" width="30" height="30" title="Documentation" />
          <span class="menu-text">Documentation</span>
        </a></li>
        <li tabindex="3"><a href="https://github.com/endatabas/endb" target="_blank">
          <img src="resources/images/github-mark-yellow.svg" width="30" height="30" title="GitHub" />
          <span class="menu-text">GitHub</span>
        </a></li>
        <li tabindex="4"><a href="/bibliography.html">
          <img src="resources/images/bibliography-icon-yellow.svg" width="30" height="30" title="Bibliography" />
          <span class="menu-text">Bibliography</span>
        </a></li>
        <!--     <li><a href="#docs">Docs</a></li> -->
        <!--     <li><a href="#product">Product</a></li> -->
        <!--     <li><a href="#company">Company</a></li> -->
        <!--     <li><a href="#community">Community</a></li> -->
        <!--     <li><a href="#sign-in"><b>Sign&nbsp;In</b></a></li> -->
      </ul>
    </nav>
  </header>
